
.App {
  font-family: 'Raleway', sans-serif;
}

.colors {
  // display: flex;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5vw, 1fr));
  margin-bottom: 1rem;
}

.newColor {
  color: #fff;
  font-weight: 800;
  border: 1px solid white;
}

@media screen and (max-width: 1319px) {
  .colors {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media screen and (min-width: 1320px) {
  .colors {
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  }
}
.auto {
  width: auto;
  height: auto;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

.Footer {
  width: 100%;
  background-color: #494949;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      text-decoration: underline;
      opacity: .8
    }
  }
}